.desta {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.desta-fixed-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: var(--bcondense);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;

    padding: 4rem 4rem;
}

.desta-fixed-contents h3 {
    font-size: 24px;
    font-weight: 400;
}

.desta-fixed-contents p {
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}

.desta-fixed-contents p a:hover {
    box-shadow: 2px 2px 10px 10px #ffffff2b;
    background-color: #ffffff23;
}


.desta-fixed-contents span {
    color: #ffffff89;
    margin-right: 20px;
}

.desta-links_container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}